@{
    ViewBag.Title = "Two Factor Authentication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="container">
        <h1>Welcome</h1>

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "login-form", action = "/MobilAdd" }))
        {
            <input type="text" placeholder="Hydro ID" name="HydroID" id="HydroID">
            <select name="ApiSandBox" id="ApiSandBox" class="option">
                <option value="SandBox">SandBox</option>
                <option value="Api">Api</option>
            </select>
            <input type="submit" name="button" id="button" value="Mobil Auth Add">
        }
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

