@{
    ViewBag.Title = "Two Factor Authentication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <h1>Two Factor Authentication</h1>

<p>@ViewBag.ErrorMessage</p>

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "login-form", action = "/MobilAdd" }))
        {
            <table width="435" height="100" border="0">
            <tr>
                <td width="137">HydroID</td>
                <td width="11" align="center">:</td>
                <td width="265"><input type="text" placeholder="Hydro ID" name="HydroID" id="HydroID"></td>
            </tr>
            <tr>
                <td>Api Selection</td>
                <td align="center">:</td>
                <td>
                    <select name="ApiSandBox" id="ApiSandBox" class="option">
                        <option value="SandBox">SandBox</option>
                        <option value="Api">Api</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" name="button" id="button" value="Mobil Auth Add"></td>
            </tr>
        </table>
        }


