@model IEnumerable<Hydro_Mobil.Models.Members>
@{
    ViewBag.Title = "Auth List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script language="javascript">
    function confirmDel() {
        var agree = confirm("Are You Sure That Hydro 2Fa Will Be Deleted?");
        if (agree) {
            return true;
        }
        else {
            return false;
        }
    }
</script>

    <h1>Hydro Mobil List</h1>

<p>@ViewBag.ErrorMessage</p>

    @foreach (var item in Model)
    {
            <table width="396" height="150" border="0">
                <tr>
                    <td width="72">User Name</td>
                    <td width="8">:</td>
                    <td colspan="2">@item.UserName</td>
                </tr>
                <tr>
                    <td>PassWord</td>
                    <td>:</td>
                    <td colspan="2">@item.PassWord</td>
                </tr>
                <tr>
                    <td>Hydro 2FA</td>
                    <td>:</td>
                    <td width="144">@item.HydroID</td>
                    <td width="144">
                    <a href="/MobilAutListDelete?ID=@item.MembersID" onclick="return confirmDel();">
                    DELETE
                    </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        @if (!Convert.ToBoolean(item.Auth.ToString()))
                        {
                            <a href="/MobilAdd">Auth Add</a>
                        }
                    </td>
                    <td width="144"><a href="/LogOff">Logout</a></td>
                </tr>
            </table>
    }